*{
    margin: 0;
    padding: 0;
}
body{
    background: #2d3436;
    color: #fff;
}
.box{
    margin-top: 60px;
}
.box h2{
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: sans-serif;
}
.my-table{
    padding-top: 40px;
}

.home-style{
    height: 40px;
    width: 40px;
    border-radius: 5%;
    background:#d35400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 2%;
    bottom: 1%;
    transition: .6s;
}
.home-style a{
    color:#ecf0f1;
    font-size: 18px;
    transition: .6s;
}
.home-style a:hover{
    margin-top: -10px;
}
.home-style:hover{
    background:#f39c12;
}
.home-style:hover a{
    color: #fff
}
@media only screen and (max-width:480px){
    .box{
        margin-top: 30px;
        text-align: center;
    }
    .box h2{
        font-size: 24px;
    }
    .my-table{
    padding-top: 10px;
}
}